body{
    background-color: rgb(219, 28, 187);
    color: black;
}
.first{
    text-align: center;
    text-decoration: none;
    width:500px;
    height:50px;
    margin-left: 100px;
    font-size: large;
    padding-bottom: 39px;
    
}
h1, h2{
    margin-left: 100px; 
  font-style: italic;
}
.biggerDiv{
    display: flex;
    width: 1000px;
    padding-bottom: 50px;
}

fieldset{
    text-align: start;
    height:400px;
   width:190px;
   color:rgb(232, 214, 17);
}
.me{
    width:600px;
   
}
.big{
    display: flex;
    width:100%;
   
}
.bb{
    width: 30%;
}
